[% cols = s.result_source.columns %]
<table>
<form name="up" action="[% c.uri_for(s.id, 'do_edit') %]" method="post">
[% FOREACH c IN cols %]
<tr><td> [% labels.$c %]</td><td> <input type="text" name="[% c %]" value="[% s.$c %]" /> </td>
[% END %]
<tr><td></td><td><input type="submit" value="Edit/Add" /></td></tr>
</tr>
</table>
